<app-header></app-header>


<div class="container">
    <div class="row">
        <h2>Mis Solicitudes</h2>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Solicitud Column -->
        <ng-container matColumnDef="solicitud">
          <th mat-header-cell *matHeaderCellDef> N° Solicitud </th>
          <td mat-cell *matCellDef="let element"> {{element.solicitud}} </td>
        </ng-container>
      
        <!-- rut_cliente Column -->
        <ng-container matColumnDef="rut_cliente">
          <th mat-header-cell *matHeaderCellDef> RUT Cliente </th>
          <td mat-cell *matCellDef="let element"> {{element.rut_cliente}} </td>
        </ng-container>
      
        <!-- nombre_cliente Column -->
        <ng-container matColumnDef="nombre_cliente">
          <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_cliente}} </td>
        </ng-container>
      
        <!-- F_ingreso Column -->
        <ng-container matColumnDef="f_ingreso">
          <th mat-header-cell *matHeaderCellDef> F. Ingreso </th>
          <td mat-cell *matCellDef="let element"> {{element.f_ingreso}} </td>
        </ng-container>
    
        <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
        </ng-container>
    
        <ng-container matColumnDef="etapa">
            <th mat-header-cell *matHeaderCellDef> Etapa </th>
            <td mat-cell *matCellDef="let element"> {{element.etapa}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>