.card-welcome {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    padding: 10px;
    border-radius: var(--mdc-shape-medium, 4px);
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 5rem;
    width: 9.5rem;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.disabled-card {
    color: gray;
    cursor: default;
}