<app-header></app-header>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile colspan="3" rowspan="1">
        <div class="row">
            <h2><span class="bienvenido">Bienvenido</span> a PUC - Empresa, Cesar Antonio Zúñiga Muñoz</h2>
            <p class="text-center">Selecciona área de negocio a la que quieres<br> ingresar.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="card-welcome text-center" (click)="irLeasing()">
            <i class="material-icons">
                attach_money
            </i>
            Leasing
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="card-welcome text-center disabled-card">
            <i class="material-icons">
                attach_money
            </i>
            Factoring
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="card-welcome text-center disabled-card">
            <i class="material-icons">
                attach_money
            </i>
            Negocio Internacional
        </div>
    </mat-grid-tile>
</mat-grid-list>