<app-header></app-header>

<div class="outer">
    <div class="middle">
        <div class="center-div">

            <div class="container">
                <div class="row">
                    <h2><span class="bienvenido">Bienvenido</span> a PUC - Empresa, Cesar Antonio Zúñiga Muñoz</h2>
                    <p>Selecciona tu perfil ejecutivo para <span class="bienvenido">Leasing</span> Estandár.</p>
                </div>

                <div class="row">

                    <mat-form-field appearance="fill">
                        <mat-label>Perfil Usuario</mat-label>
                        <mat-select (selectionChange)="perfilClick($event.value)">
                          <mat-option *ngFor="let perfil of perfiles" [value]="perfil">
                            {{ perfil }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </div>

                <div class="row text-right">
                    <div class="text-xs-right">
                        <button class="mdc-button mdc-button--raised login-button">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Continuar</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>