.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row-center {
    margin-left: 15%;
    margin-right: 15%;
}

.username-input, .password-input {
    width: 251px;
    height: 56px;
}

.username-input {
    margin-bottom: 20px;
}

.login-button {
    border-radius: 25px;
}

.card-welcome {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    padding: 10px;
    border-radius: var(--mdc-shape-medium, 4px);
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 5rem;
}

.mdc-card {
    padding: 20px;
}

.h2-responsive {
    margin-top: 0;
    margin-bottom: 20px;
}

.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
    background-color: #ec0000;
}

.text-right {
    text-align: right;
}